################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TS.MailService/.vs
/TS.MailService/TS.MailService.Domain/obj
/TS.MailService/TS.MailService.Domain/bin/Debug/net7.0
/TS.MailService/TS.MailService.API/.vs
/TS.MailService/TS.MailService.API/bin/Debug/net7.0
/TS.MailService/TS.MailService.API/obj
/TS.MailService/TS.MailService.Tests/bin/Debug/net7.0
/TS.MailService/TS.MailService.Tests/obj
/TS.MailService/TS.MailService.Infrastructure/bin/Debug/net7.0
/TS.MailService/TS.MailService.Infrastructure/obj
/TS.ApiGateway/.vs/TS.ApiGateway
/TS.ApiGateway/.vs/ProjectEvaluation
/TS.ApiGateway/TS.ApiGateway/obj
/TS.ApiGateway/TS.ApiGateway/bin/Debug/net7.0
